### Linear regression
line equation - > y = m * x + c

m(slope) -> ∑(x - (mean of x)(y - (mean of y))/∑(x -
(mean of x))^2.

c(intercept) -> mean_y - (m *mean_x)

ypredicted -> m * x + c

r^2 -> ∑(ypredicted - mean of y )^2/ ∑(y
- mean of y)^2


steps for applying machine learning algorithm

- Data Preparation

- Machine Learning Model Intialization

- Fitting data to model

- Predicting output for test data

- Model Evaluation
	- r^2 score(if it is >=0.5 model is working fine otherwise need to train the model
	with more data)

In [2]:
# Data preparation
import pandas as pd
import matplotlib.pyplot as plt

headbrain_df = pd.read_csv('headbrain.csv')
headbrain_df.head(5)

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [3]:
X = headbrain_df['Head Size(cm^3)'].values
Y = headbrain_df['Brain Weight(grams)'].values

In [4]:
# Machine learning model intialization
from sklearn.linear_model import LinearRegression
LR = LinearRegression()

In [5]:
# Fit data to model
X = X.reshape((-1,1))
LR.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
#LR.predict(X)

In [7]:
# Model Evaluation
LR.score(X,Y)

0.639311719957

In [8]:
#dir(LR)
print(LR.coef_)#slope
print(LR.intercept_)# intercept

[0.26342934]
325.5734210494428

In [10]:
from sklearn.model_selection import train_test_split
x = headbrain_df['Head Size(cm^3)'].values
y = headbrain_df['Brain Weight(grams)'].values
X_train,Y_train,X_test,Y_test =train_test_split(x,y,test_size=0.3,
                                                random_state=3)

In [41]:
X_train=X_train.reshape((-1,1))
#LR.fit(X_train,Y_train)

### Linear Regression for LifeExpectancy.csv

In [43]:
life_df = pd.read_csv('LifeExpectancy.csv')
life_df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific